@charset "UTF-8";
/* CSS Document */
* {

	box-sizing:border-box; -moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased; -moz-font-smoothing:antialiased; -o-font-smoothing:antialiased; -ms-font-smoothing:antialiased; font-smoothing:antialiased; }

    
html { margin:0; padding:0; }

body {
    background-color: #fcfbfa !important;
    font-family: 'futura_lt_btlight', Arial, Helvetica, sans-serif;
    color:172022;
    margin: 0;

}


/* Images */
.center-image {
    margin-left:auto;
    margin-right:auto;
    display:block;
}
@media(min-width:550px) {
    .feature-image-550 {
        max-width: 550px;
    }
}
@media(min-width:1200px) {
    .feature-image-1200 {
        max-width: 1200px;
    }
}
/* */

/* Header and Footer */
footer {
    background: #464f51;
}

 /* Style the header */
header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b8b8b8;
    height: 60px;
    position: fixed;
    align-items: center;
    width: 100%;
    display: flex;
    font-family: 'futura_lt_btlight', Arial, Helvetica, sans-serif;
    max-height: 60px !important;

}

/* Page content */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 60px;
    max-height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.sticky + .content {
    padding-top: 60px;
} 
/* */

/* Buttons */
.home-button:hover{
    color: white;
    background: #acb8af;
    text-decoration: none ;

}
.home-button:active{
    color: white ;
    background: #4f6653;
}
.home-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-sizing: border-box;
    padding: 7px 10px;
    font-size: 16px;
    background: transparent;
    border: 1px solid #172022;
    text-align: center;
    color: #172022;
    text-decoration: none ;

}
.home-button:link {
    text-decoration: none ;
}
.no-decoration {
    text-decoration: none ;
}
.home-button:link {
    text-decoration: none ;
}
.alt-button-col {
    background: #4f6653;
    color: white;
    border: none;

}
.alt-button-col:active{
    background: #4f6653;
    color: white;
    border: none;
}
/* */



.width-15 {
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
}
.half-space {
    padding-top: 7px;
}

.body-text {
    color: #2c383b;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.6
}
.intro-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width:550px;
    line-height: 1.4rem;
    font-size:.9rem;
}


.newsletter-title {
    font-size: 130%;
    padding-bottom: 15px;
    padding-top: 15px;
}
.center-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/* Sign Up */
.sign-up-box {
    display: inline-block;
    padding: 0 8px;
    margin-bottom: 17px;
    vertical-align: middle;
    border-radius: 2px;
    min-width: 420px;
    max-width: 635px;
    min-height: 36px;
    background-color:#ffffff;
    font-size: 100%;
    border: 1px solid rgba(36,28,21,0.3);
}
@media(max-width:420px) {
    .sign-up-box {
        min-width: 100%;;
        max-width: 100%;;

    }
}
#mc_embed_signup .button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-sizing: border-box;
    padding: 7px 10px;
    font-size: 16px;
    background: transparent;
    border: 1px solid #172022;
    text-align: center;
    color: #172022!important;
    text-decoration: none !important;
    min-width: 150px;
    margin-bottom: 40px;
}
#mc_embed_signup .button:hover{
    color: white!important;
    background: #acb8af;
    text-decoration: none !important;

}
#mc_embed_signup .button:active{
    color: white !important;
    background: #4f6653;
    text-decoration: none !important;

}
/* */

/* Headers and text */
h1 { font-size:1.5em;  margin:35px 0px 100px 0px; text-align:center; font-family: futura_md_btmedium, Arial, Helvetica, sans-serif; }
h2 { font-size:1.3em;  text-align:center; margin:30px 0px 0px 0px; font-family: futura_md_btmedium, Arial, Helvetica, sans-serif; font-weight: normal }
h3 { font-size:1.5em;  margin:20px 0px 30px 0px; text-align:center; font-family: futura_md_btmedium, Arial, Helvetica, sans-serif; }
h4 { font-size:1.5em; color:#444;  text-align:center; font-family: futura_md_btmedium, Arial, Helvetica, sans-serif; }
h5 { font-size:1.5em; color:#444; margin:00px 0px 25px 0px; text-align:center; font-family: futura_md_btmedium, Arial, Helvetica, sans-serif; }
h7 { font-size:1.2em  em; color:#f5f5f5; margin:0px 0px 0px 0px; text-align:center; font-family: futura_md_btmedium, Arial, Helvetica, sans-serif; }
.standardtext { margin: 0 auto 20px auto; width:850px; color:#333; font-family: futura_md_btmedium, Trebuchet MS, Arial, Helvetica, sans-serif;  }
.nobullet { list-style:none; width:850px; margin:0 auto 20px auto; padding:0;  }
/* */

/* navigation */
#nav { margin:0 0 20px 0 }
#nav ul { list-style:none; margin:0; padding:0px 30px; text-align:center; }
#nav ul li { display:inline-block; font-family:futura_md_btmedium; }
#nav ul li a { color:#f5f5f5; text-decoration:none; padding:6px 45px; display:inline-block }
#nav ul li a:hover { color:#666666; background:#dcdcdc; }
#nav ul li a.nav_sel { color:#CCC }
/* */

/* web fonts */
@font-face {
    font-family: 'AnuDawItalic';
    src: url('fonts/ANUDI___-webfont.eot');
    src: url('fonts/ANUDI___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ANUDI___-webfont.woff') format('woff'),
         url('fonts/ANUDI___-webfont.ttf') format('truetype'),
         url('fonts/ANUDI___-webfont.svg#AnuDawItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AftasansItalic';
    src: url('fonts/AftaSansThin-Italic-webfont.eot');
    src: url('fonts/AftaSansThin-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/AftaSansThin-Italic-webfont.woff') format('woff'),
         url('fonts/AftaSansThin-Italic-webfont.ttf') format('truetype'),
         url('fonts/AftaSansThin-Italic-webfont.svg#AftasansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AftasansRegular';
    src: url('fonts/AftaSansThin-Regular-webfont.eot');
    src: url('fonts/AftaSansThin-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/AftaSansThin-Regular-webfont.woff') format('woff'),
         url('fonts/AftaSansThin-Regular-webfont.ttf') format('truetype'),
         url('fonts/AftaSansThin-Regular-webfont.svg#AftasansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futura_md_btmedium';
    src: url('fonts/futumd__-webfont.eot');
    src: url('fonts/futumd__-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futumd__-webfont.woff2') format('woff2'),
         url('fonts/futumd__-webfont.woff') format('woff'),
         url('fonts/futumd__-webfont.ttf') format('truetype'),
         url('fonts/futumd__-webfont.svg#futura_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ElleFuturaBook';
    src: url('fonts/ElleFuturaBook-.eot');
    src: url('fonts/ElleFuturaBook.eot?#iefix') format('embedded-opentype'),
         url('fonts/ElleFuturaBook.woff2') format('woff2'),
         url('fonts/ElleFuturaBook.woff') format('woff'),
         url('fonts/ElleFuturaBook.ttf') format('truetype'),
         url('fonts/ElleFuturaBook.svg#ElleFuturaBook') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futura_lt_btlight';
    src: url('fonts/futural-webfont.woff2') format('woff2'),
         url('fonts/futural-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
