body {
  background: #d0d4d2 !important;
}
header {
  background: #d0d4d2d2 !important;
}


/* Buttons */
.home-button:hover{
  color: white;
  background: #acb8af;
}
.home-button:active{
  color: white ;
  background: #4f6653;
}
.home-button {
  color: #172022;

}
.alt-button-col {
  background: #4f6653;
  color: white;
}
.alt-button-col:active{
  background: #4f6653;
  color: white;
}
.sign-up-box {
  border-radius: 2px;
}

/* */

/* Footer */
footer { background: #464f51; }
.copywright { background: #303839;  }
footer ul li a { color:rgba(255, 255, 255, 0.651)!important; }


.logo-button span {
  background: url(https://www.susiewatsondesigns.co.uk/static/frontend/Swd/default/en_GB/images/svg/heart-striped-c.svg) no-repeat 0 0;

}
.logo-button-w span {
  background: url(https://www.susiewatsondesigns.co.uk/static/frontend/Swd/default/en_GB/images/svg/heart-striped-w.svg) no-repeat 0 0;

}

#border-img-2px {
  border: 2px solid white;
}
.container-c {
  background: #ecedec;

}
